.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  .form {

  }
  .formItems {
    width: 400px;
    margin-top: 20px;
    margin-right: 100px;

  }